<section id="up" class="section1">
  <img
    class="section1__image"
    src="./assets/images/logo.png"
    title="logo de open spaces"
  />
  <div class="section1__container">
    <nav class="section1__container__nav">
      <div class="fixed">
        <a
          href="https://adalab.es/"
          class="section1__container__nav__link"
          title="Ir a productos"
          >Productos</a
        ><a
          href="https://adalab.es/"
          class="section1__container__nav__link"
          title="Ir a colecciones"
          >Colecciones</a
        ><a
          href="https://adalab.es/"
          class="section1__container__nav__link"
          title="Ir a tienda"
          >Tienda</a
        ><a
          href="https://adalab.es/"
          class="section1__container__nav__link"
          title="Ir a inicio"
          >Inicio</a
        >
      </div>
    </nav>
    <h1 class="section1__title">Disfruta creando espacios</h1>
    <a
      class="section1__link"
      href="https://adalab.es/"
      title="Pulse para comprar"
    >
      Comprar ahora
    </a>
  </div>
</section>
