<section class="section2">
  <h2 class="section2__title">
    Volverse organizado se siente mejor con
    <span class="section2__title--uppercase">open spaces</span>
  </h2>
  <article class="section2__article section2__article--first">
    <img
      class="section2__article__icons--first"
      src="../assets/images/icon_1.png"
      alt="icono de variedad de productos"
      title="variedad de productos"
    />
    <h3 class="section__article_title section2__article__title--first">
      Lo que necesitas
    </h3>
    <p class="section2__article__text section2__article__text--first">
      Una linea de productos diseñados para todos tus espacios
    </p>
  </article>
  <article class="section2__article section2__article--second">
    <img
      class="section2__article__icons--second"
      src="../assets/images/icon_2.png"
      alt="icono bolsa reciclable"
      title="bolsa reciclable"
    />
    <h3 class="section__article_title section2__article__title--second">
      Materias primas sustentables
    </h3>
    <p class="section2__article__text section2__article__text--second">
      Todos los productos con materias primas sustentables
    </p>
  </article>
  <article class="section2__article section2__article--third">
    <img
      class="section2__article__icons--third"
      src="../assets/images/icon_3.png"
      alt="icono de una guía"
      title="Una guía para ayudarte"
    />
    <h3 class="section__article_title section2__article__title--third">Guía</h3>
    <p class="section2__article__text section2__article__text--third">
      Soporte y asesoramiento para ayudarte con tu objetivo
    </p>
  </article>
</section>
