<section class="section4">
  <article class="section4__article">
    <div class="section4__article__container">
      <h2 class="section4__article__title">Disfruta creando espacios</h2>
      <p class="section4__article__text">
        Una linea de productos diseñados para todos tus espacios
      </p>
      <a
        class="section4__article__link"
        href="https://adalab.es/"
        title="Haz click para comprar"
      >
        Comprar ahora
      </a>
    </div>
  </article>
  <img
    class="section4__image"
    src="./assets/images/creando-espacios.jpg"
    title="Organizadores para baño"
    alt="foto de organizadores para baño"
  />
</section>
