$white: #ffffff;
$lightgrey: #f0ebe5;
$grey: #b6c8c9;
$bluegreen: #0c474b;
$orange: #ff975a;
$font: "Poppins", sans-serif;
$titlesize: 36px;
$subtitlesize: 30px;
$textsize: 16px;
$thirdtitle: 20px;
$secondtextsize: 14px;
$titleweight: 600;
