.footer {
  background-color: $bluegreen;
  color: $grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  text-align: center;
  position: relative;
  width: 100vw;
  text-align: initial;
  font-size: $secondtextsize;
  padding: 36px 0 36px 0;
  @media all and (min-width: 768px) {
    flex-direction: row;
    height: 276px;
    padding: 54px 0 54px 0;
  }
  @media all and (min-width: 1200px) {
  }
  &__nav {
    width: 200px;
    @media all and (min-width: 1200px) {
      width: 208px;
      margin-right: 100px;
    }
  }

  &__title {
    font-size: $thirdtitle;
    font-weight: 600;
    margin: 20px 0 12px 0;
  }
  &__list {
    margin-bottom: 40px;

    &__link {
      color: $grey;
      font-size: $secondtextsize;
      margin-bottom: 20px;
    }
    &__icon {
      display: inline-block;
      padding-right: 11px;
      margin-top: 20px;
      color: $white;
      height: 26px;
      width: 24px;
    }
  }
  &__arrow {
    position: absolute;
    right: 28px;
    bottom: 16px;
    @media all and(min-width:768px) {
      right: 57px;
      bottom: 70px;
    }
    @media all and(min-width:1200px) {
      right: 110px;
      bottom: 80px;
    }
  }
  .fa-solid {
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-name: arrowcolor;
    @keyframes arrowcolor {
      from {
        color: $white;
        width: 24px;
        height: 24px;
        font-size: 24px;
      }
      20% {
        color: $orange;
      }
      30% {
        color: $grey;
      }
      40% {
        color: $orange;
      }
      50% {
        color: $white;
        width: 40px;
        height: 40px;
        font-size: 45px;
      }
      60% {
        color: $orange;
      }
      70% {
        color: $grey;
      }
      80% {
        color: $orange;
      }
      to {
        color: $white;
        width: 24px;
        height: 24px;
        font-size: 24px;
      }
    }
  }
}
