.section3 {
  background-color: $orange;
  height: 352px;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  @media all and (min-width: 1200px) {
    height: 400px;
  }
  &__title {
    font-size: $secondtitle;
    font-weight: 600;
    text-align: center;
    margin: 10px;
    @media all and (min-width: 768px) {
      font-size: $subtitlesize;
    }
    @media all and (min-width: 1200px) {
      font-size: $titlesize;
    }
  }
  &__text {
    font-size: $secondtextsize;
    text-align: center;
    @media all and (min-width: 1200px) {
      font-size: $textsize;
    }
  }
  &__link {
    color: $white;
    font-size: $textsize;
    font-weight: 600;
    text-decoration: underline;
    margin: 17px;
    padding: 12px 24px;
    &:hover {
      width: 250px;
      height: 80px;
      font-size: $thirdtitle;
      color: $bluegreen;
    }
  }
}
