.section4 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 643px;
  @media all and (min-width: 1200px) {
    flex-direction: row;
    height: 571px;
  }
  &__article {
    background-color: $lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    @media all and (min-width: 1200px) {
      height: 100%;
      width: 50%;
    }
    &__container {
      width: 360px;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
      @media all and (min-width: 1200px) {
        align-items: flex-start;
      }
    }
    &__title {
      color: $bluegreen;
      font-size: $secondtitle;
      font-weight: 600;
      @media all and (min-width: 1200px) {
        font-size: $titlesize;
      }
    }
    &__text {
      font-size: $secondtextsize;
      margin: 21px 0 23px;
      color: $bluegreen;
      text-align: center;
      @media all and (min-width: 1200px) {
        font-size: $textsize;
        text-align: start;
        width: 281px;
      }
    }
    &__link {
      width: 176px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 24px;
      background-color: $bluegreen;
      color: $white;
      &:hover {
        width: 250px;
        height: 80px;
        font-size: $thirdtitle;
        border-radius: 20px;
      }
    }
  }
  &__image {
    width: 100%;
    height: 50%;
    @media all and (min-width: 1200px) {
      height: 100%;
      width: 50%;
    }
  }
}
