.section3 {
  background-color: $orange;
  height: 352px;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  &__title {
    font-size: $secondtitle;
    font-weight: 600;
    text-align: center;
    margin: 10px;
    font-family: $font;
  }
  &__text {
    font-size: $secondtextsize;
    text-align: center;
    font-family: $font;
  }
  &__link {
    color: $white;
    font-size: $textsize;
    font-weight: 600;
    text-decoration: underline;
    margin: 17px;
    padding: 10px;
    &:hover {
      width: 250px;
      height: 80px;
      font-size: $thirdtitle;
      color: $bluegreen;
    }
  }
}
