@import "core/reset";
@import "core/variables";
@import "core/mixins";

:root {
  font-family: "Poppins", sans-serif;
}
@import "layout/header";
@import "layout/section1";
@import "layout/section2";
@import "layout/section3";
@import "layout/section4";
@import "layout/footer";
