@import "core/reset";
@import "core/variables";

:root {
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  height: 134px;

  &__menu {
    width: 24px;
    height: 24px;
    margin-left: 33px;
    position: absolute;
    left: 33px;
    top: 55px;
    color: $bluegreen;
    @media all and (min-width: 1200px) {
      display: none;
    }
  }
}
.section1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__title {
    font-size: $secondtitle;
    color: $bluegreen;
    font-weight: 600;
    @media all and (min-width: 768px) {
      width: 430px;
      font-size: $titlesize;
    }
  }
  &__link {
    width: 176px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 24px;
    background-color: $bluegreen;
    color: $white;
    font-size: $textsize;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 24px;
  }
  &__image {
    height: 96px;
    width: 213px;
    position: absolute;
    top: 19px;
    @media all and (min-width: 1200px) {
      top: 39px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px) {
      align-items: flex-start;
      padding-left: 147px;
      width: 100vw;
    }
    &__nav {
      display: none;
      width: 50vw;
      height: 96px;

      @media all and (min-width: 1200px) {
        display: flex;
        position: absolute;
        top: 39px;
        align-items: center;
      }
      .fixed {
        @media all and (min-width: 1200px) {
          position: fixed;
        }
      }
      &__link {
        color: $bluegreen;
        font-size: $textsize;
        padding: 20px 20px 20px 0;
      }
    }
  }
}
.section2 {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    ". section2__title ."
    ". section2__article--first ."
    ". section2__article--second ."
    ". section2__article--third .";

  background-color: $lightgrey;
  width: 100vw;
  text-align: center;
  @media all and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20% 80%;
    grid-template-areas:
      "section2__title section2__title section2__title"
      "section2__article--first section2__article--second section2__article--third";
  }

  &__title {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-area: section2__title;
    color: $bluegreen;
    &--uppercase {
      text-transform: uppercase;
    }
    @media all and (min-width: 768px) {
      display: block;
      margin-top: 63px;
    }
  }
  &__article {
    display: grid;
    justify-items: center;
    justify-content: center;
    color: $bluegreen;
    @media all and (min-width: 768px) {
      margin-top: 40px;
    }
    &--first {
      grid-area: section2__article--first;
    }
    &--second {
      grid-area: section2__article--second;
    }
    &--third {
      grid-area: section2__article--third;
    }

    &__title {
      text-align: center;
      color: $bluegreen;
      font-size: $thirdtitle;
      font-weight: 600;
      margin-bottom: 12px;
    }
    &__text {
      text-align: center;
      color: $bluegreen;
      font-size: $textsize;
      width: 208px;
      margin-bottom: 36px;
      padding: 0.5em;
    }
    &__icons {
      width: 90px;
      height: 90px;
    }
  }
}
.section3 {
  background-color: $orange;
  height: 352px;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  &__title {
    font-size: $secondtitle;
    font-weight: 600;
    text-align: center;
    margin: 10px;
    font-family: $font;
  }
  &__text {
    font-size: $secondtextsize;
    text-align: center;
    font-family: $font;
  }
  &__link {
    color: $white;
    font-size: $textsize;
    font-weight: 600;
    text-decoration: underline;
    margin: 17px;
    padding: 10px;
  }
}
.section4 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 643px;
  &__article {
    background-color: $lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    &__container {
      width: 350px;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
    &__title {
      color: $bluegreen;
      font-size: $secondtitle;
      font-weight: 600;
    }
    &__text {
      font-size: $secondtextsize;
      margin: 21px 0 23px;
      color: $bluegreen;
      text-align: center;
    }
    &__link {
      width: 176px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 24px;
      background-color: $bluegreen;
      color: $white;
    }
  }
  &__image {
    width: 100%;
    height: 50%;
  }
}
.footer {
  background-color: $bluegreen;
  color: $grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  position: relative;
  width: 100vw;
  text-align: initial;
  padding-top: 26px;
  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 42px;
    padding-left: 40px;
  }
  &__nav {
    width: 200px;
  }

  &__title {
    font-size: $thirdtitle;
    font-weight: 600;
    margin: 20px 0 12px 0;
  }
  &__list {
    margin-bottom: 40px;

    &__link {
      color: $grey;
      font-size: $secondtextsize;
      margin-bottom: 20px;
    }
    &__icon {
      display: inline-block;
      margin-right: 20px;
      margin-top: 20px;
      color: $white;
      height: 26px;
      width: 24px;
    }
  }
  &__arrow {
    color: $white;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 28px;
    bottom: 16px;
  }
}
