@import "core/reset";
@import "core/variables";

:root {
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  height: 134px;

  &__menu {
    width: 24px;
    height: 24px;
    margin-left: 33px;
    position: absolute;
    left: 33px;
    top: 55px;
    color: $bluegreen;
  }
}
.section1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  &__title {
    font-size: $titlesize;
    color: $bluegreen;
    font-weight: 600;
  }
  &__link {
    width: 176px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 24px;
    background-color: $bluegreen;
    color: $white;
    font-size: $textsize;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 24px;
  }
  &__image {
    height: 96px;
    width: 213px;
    position: absolute;
    top: 19px;
  }
}
.section2 {
  display: grid;
  grid-template-columns: repeat(25% 50% 25%);
  grid-template-rows: repeat(4 1fr);
  grid-template-areas:
    ". section2__title ."
    ". section2__article--first ."
    ". section2__article--second ."
    ". section2__article--third .";
  background-color: $lightgrey;
  width: 100vw;
  text-align: center;

  &__title {
    display: grid;
    grid-area: section2__title;
    color: $bluegreen;
    margin-top: 41px;
    margin-bottom: 37px;
    &--uppercase {
      text-transform: uppercase;
    }
  }
  &__article {
    padding: 2em;

    &--first {
      grid-area: section2__article--first;
      grid-template-areas:
        ". section2__article__icons--products ."
        ". section2__article__title--first ."
        ". section2__article__text--first .";
    }
    &--second {
      grid-area: section2__article--second;
      grid-template-areas:
        ". section2__article__icons--second ."
        ". section2__article__title--second ."
        ". section2__article__text--second .";
    }
    &--third {
      grid-area: section2__article--third;
      grid-template-areas:
        ". section2__article__icons--third ."
        ". section2__article__title--third ."
        ". section2__article__text--third .";
    }

    &__title {
      text-align: center;
      color: $bluegreen;
      font-size: $thirdtitle;
      font-weight: 600;
      margin-top: 47px;
      margin-bottom: 12px;
      &--first {
        grid-area: section2__article__title--first;
      }
      &--second {
        grid-area: section2__article__title--second;
      }
      &--third {
        grid-area: section2__article__title--third;
      }
    }
    &__text {
      text-align: center;
      color: $bluegreen;
      font-size: $textsize;
      width: 208px;
      margin-bottom: 36px;
      padding: 0.5em;
      background-color: green;
      &--first {
        grid-area: section2__article__text--first;
      }
      &--second {
        grid-area: section2__article__text--second;
      }
      &--third {
        grid-area: section2__article__text--third;
      }
    }
    &__icons {
      width: 90px;
      height: 90px;
      &--first {
        height: 99px;
        grid-area: section2__article__icons--first;
      }
      &--second {
        grid-area: section2__article__icons--second;
      }
      &--third {
        grid-area: section2__article__icons--third;
      }
    }
  }
}
.section3 {
  background-color: $orange;
  height: 352px;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__title {
    font-size: $secondtitle;
    font-weight: 600;
    text-align: center;
    margin: 10px;
    font-family: $font;
  }
  &__text {
    font-size: $secondtextsize;
    text-align: center;
    font-family: $font;
  }
  &__link {
    color: $white;
    font-size: $textsize;
    font-weight: 600;
    text-decoration: underline;
    margin: 17px;
    padding: 10px;
  }
}
.section4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 643px;
  &__article {
    background-color: $lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    &__title {
      color: $bluegreen;
      font-size: $secondtitle;
      font-weight: 600;
    }
    &__text {
      font-size: $secondtextsize;
      margin: 21px 0 23px;
      color: $bluegreen;
    }
    &__link {
      width: 176px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 24px;
      background-color: $bluegreen;
      color: $white;
    }
  }
  &__image {
    width: 100%;
    height: 50%;
  }
}
.footer {
  background-color: $bluegreen;
  color: $grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 545px;
  text-align: center;
  position: relative;
  &__title {
    font-size: $thirdtitle;
    font-weight: 600;
    margin-bottom: 12px;
  }
  &__nav {
    text-align: initial;
  }
  &__list {
    margin-bottom: 40px;

    &__link {
      color: $grey;
      font-size: $secondtextsize;
      margin-bottom: 20px;
    }
    &__icon {
      display: inlineblock;
      margin-right: 20px;
      margin-top: 80px;
      color: $grey;
      height: 26px;
      width: 24px;
    }
  }
  &__arrow {
    color: $grey;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 200px;
    bottom: 100px;
  }
}
